In [32]:
import pandas as pd 

file_path = '/Users/lenoxherman/Tippers/tipDataSet/tip.csv'
# Extract the CSV file from the zip archive

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

In [38]:
df.head()
# df.drop('smoker', axis=1, inplace=True)
day_mapping = {'Sun': 1, 'Sat': 1, 'Fri': 1, 'Thur':0}
# Create a new column 'day_encoded' based on Weekday or Weekend
df['day_encoded'] = df['day'].map(day_mapping)
# Creates a new column 'percent_tip' based on the percentage of the tip amount
df['percent_tip'] = (df['tip'] / df['total_bill']) * 100
# Round the 'percent_tip' column to two decimal places
df['percent_tip'] = df['percent_tip'].round(2)
df.head()

   total_bill   tip     sex  day    time  size  day_encoded  percent_tip
0       16.99  1.01  Female  Sun  Dinner     2            1         5.94
1       10.34  1.66    Male  Sun  Dinner     3            1        16.05
2       21.01  3.50    Male  Sun  Dinner     3            1        16.66
3       23.68  3.31    Male  Sun  Dinner     2            1        13.98
4       24.59  3.61  Female  Sun  Dinner     4            1        14.68